In [6]:
from main import *
USE_CACHE = True
TIME_RANGE_DAYS = 365
SECONDS_IN_A_DAY = 24 * 60 * 60
TIME_RANGE_SECONDS = TIME_RANGE_DAYS * SECONDS_IN_A_DAY
END_TIME = UPDATE_TIME
START_TIME = END_TIME - TIME_RANGE_SECONDS
QUERY_TIME_INTERVAL = 30 * SECONDS_IN_A_DAY # break up the query into 30 day chunks

def get_time_intervals(start, end, step):
    while start <= end:
        yield start
        start += step

In [7]:
purchases_result = []

for interval_start in get_time_intervals(START_TIME, END_TIME, QUERY_TIME_INTERVAL):
    interval_end = min(interval_start + QUERY_TIME_INTERVAL, END_TIME)
    purchases_query = get_core_matic_query(
        { 'erc1155Purchases': {
            'params': { 'where': { 'category': ITEM_TYPE_CATEGORY_WEARABLE, 'timeLastPurchased_lt': interval_end, 'timeLastPurchased_gte': interval_start } },
            'fields': ["id", "listingID", "erc1155TypeId", "priceInWei", "quantity", "timeLastPurchased"] }}
    )
    purchases_result += purchases_query.execute(USE_CACHE)

purchases_df = get_subgraph_result_df(purchases_result)

In [8]:
purchases_df.head()

,listingID,erc1155TypeId,priceInWei,quantity,timeLastPurchased
id,,,,,
100298_0xb049df3c39b9726817c23efb6d58b75b83a19389_1629665226,100298,111,549000000000000000000,1,1629665226
100298_0xb049df3c39b9726817c23efb6d58b75b83a19389_1629665294,100298,111,549000000000000000000,1,1629665294
100298_0xc99df6b7a5130dce61ba98614a2457daa8d92d1c_1629741236,100298,111,549000000000000000000,1,1629741236
100298_0xea651e5b72751f1d2e36255f5f59792c84cd856f_1629601240,100298,111,549000000000000000000,1,1629601240
100299_0xb049df3c39b9726817c23efb6d58b75b83a19389_1629665456,100299,112,555000000000000000000,1,1629665456

In [9]:
purchases_df.describe()

,listingID,erc1155TypeId,priceInWei,quantity,timeLastPurchased
count,31642,31642,31642,31642,31642
unique,27340,237,2927,46,31111
top,316041,230,20000000000000000000,1,1635237772
freq,45,736,673,29745,8

In [10]:
purchases_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31642 entries, 100298_0xb049df3c39b9726817c23efb6d58b75b83a19389_1629665226 to 325795_0xf09d1acbf092ec47970a2aa9e16bc658b2ecf15e_1660709375
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   listingID          31642 non-null  object
 1   erc1155TypeId      31642 non-null  object
 2   priceInWei         31642 non-null  object
 3   quantity           31642 non-null  object
 4   timeLastPurchased  31642 non-null  object
dtypes: object(5)
memory usage: 1.4+ MB