In [1]:
from shared import *
purchases_df = get_wearable_purchases_df()

In [40]:
purchases_df.head()

,listingID,erc1155TypeId,quantity,timePurchased,datePurchased,startOfWeekPurchased,yearMonthPurchased,price
id,,,,,,,,
145645_0xf09d1acbf092ec47970a2aa9e16bc658b2ecf15e_1629211076,145645,13,1,2021-08-17 14:37:56+00:00,2021-08-17,2021-08-16,2021-08,15000.0
145683_0x795f50722cf5ad82f78dda8dc8f7b235332977c3_1629211146,145683,76,1,2021-08-17 14:39:06+00:00,2021-08-17,2021-08-16,2021-08,16.0
145509_0x73b46a49e5f92480710b07be849500b772b6a995_1629213827,145509,41,2,2021-08-17 15:23:47+00:00,2021-08-17,2021-08-16,2021-08,15.9
132339_0x73b46a49e5f92480710b07be849500b772b6a995_1629213861,132339,37,1,2021-08-17 15:24:21+00:00,2021-08-17,2021-08-16,2021-08,9.0
145037_0x22886301cf7b3a7e3c275a4620add2b47e324062_1629214205,145037,149,1,2021-08-17 15:30:05+00:00,2021-08-17,2021-08-16,2021-08,511.0

In [41]:
purchases_df.describe()

           listingID  erc1155TypeId      quantity          price
count   31642.000000   31642.000000  31642.000000   31642.000000
mean   219210.372796     159.617218      1.205960     265.440214
std     56783.259671      88.102905      2.593352    1890.758271
min       547.000000       1.000000      1.000000       0.600000
25%    173715.000000      82.000000      1.000000      22.500000
50%    209417.000000     156.000000      1.000000      40.900000
75%    269026.750000     231.000000      1.000000     129.000000
max    325795.000000     315.000000    200.000000  112000.000000

In [42]:
purchases_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31642 entries, 145645_0xf09d1acbf092ec47970a2aa9e16bc658b2ecf15e_1629211076 to 325105_0xfc2ea617f5214fdb17caa576837cd044b93959b9_1660722768
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   listingID             31642 non-null  int64
 1   erc1155TypeId         31642 non-null  int64
 2   quantity              31642 non-null  int64
 3   timePurchased         31642 non-null  datetime64[ns, UTC]
 4   datePurchased         31642 non-null  object
 5   startOfWeekPurchased  31642 non-null  object
 6   yearMonthPurchased    31642 non-null  object
 7   price                 31642 non-null  float128
dtypes: datetime64[ns, UTC](1), float128(1), int64(3), object(3)
memory usage: 2.4+ MB