In [1]:
from shared import *
purchases_df = get_wearable_purchases_df()
types_df = get_wearable_types_df()

In [2]:
types_merge_columns = ['name', 'rarity', 'slotNames', 'NRG Effect', 'AGG Effect', 'SPK Effect', 'BRN Effect']
purchases_types_df = purchases_df.merge(types_df[types_merge_columns], how="left", left_on='erc1155TypeId', right_index=True)

In [3]:
purchases_types_df.head()

,listingID,erc1155TypeId,quantity,timePurchased,datePurchased,startOfWeekPurchased,yearMonthPurchased,price,totalPrice,name,rarity,slotNames,NRG Effect,AGG Effect,SPK Effect,BRN Effect
id,,,,,,,,,,,,,,,,
148540_0xe1dfec1c1213baf331eb586468ebdf6b67f7c332_1629817487,148540,157,1,2021-08-24 15:04:47+00:00,2021-08-24,2021-08-23,2021-08,145.0,145.0,Lil Pump Goatee,uncommon,Face,+,+,,
144588_0xc99df6b7a5130dce61ba98614a2457daa8d92d1c_1629820191,144588,201,1,2021-08-24 15:49:51+00:00,2021-08-24,2021-08-23,2021-08,699.0,699.0,Mechanical Claw,legendary,"Hand L, Hand R",,+,+,
148819_0xc99df6b7a5130dce61ba98614a2457daa8d92d1c_1629820195,148819,55,1,2021-08-24 15:49:55+00:00,2021-08-24,2021-08-23,2021-08,499.0,499.0,Aagent Headset,rare,Face,,+,+,+
149670_0xc99df6b7a5130dce61ba98614a2457daa8d92d1c_1629820509,149670,199,1,2021-08-24 15:55:09+00:00,2021-08-24,2021-08-23,2021-08,300.0,300.0,Steampunk Goggles,rare,Eyes,,,+,
147114_0xc99df6b7a5130dce61ba98614a2457daa8d92d1c_1629821202,147114,118,1,2021-08-24 16:06:42+00:00,2021-08-24,2021-08-23,2021-08,735.0,735.0,Water Jug,legendary,"Hand L, Hand R",+,,,+

In [4]:
purchases_types_df.describe()

,listingID,erc1155TypeId,quantity,price,totalPrice
count,31118.000000,31118.000000,31118.000000,31118.000000,31118.000000
mean,221257.295906,160.991613,1.173276,265.830952,273.343839
std,56468.236859,88.061964,1.343736,1902.663750,1905.095213
min,547.000000,1.000000,1.000000,0.600000,1.000000
25%,178034.750000,86.000000,1.000000,23.000000,24.000000
50%,211301.000000,199.000000,1.000000,41.000000,45.000000
75%,270351.250000,232.000000,1.000000,129.000000,139.500000
max,326614.000000,315.000000,85.000000,112000.000000,112000.000000

In [5]:
purchases_types_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31118 entries, 148540_0xe1dfec1c1213baf331eb586468ebdf6b67f7c332_1629817487 to 316042_0x38ff11d71e32d6a97da15bdcfbcdfccdeda9e637_1661352672
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   listingID             31118 non-null  int64
 1   erc1155TypeId         31118 non-null  int64
 2   quantity              31118 non-null  int64
 3   timePurchased         31118 non-null  datetime64[ns, UTC]
 4   datePurchased         31118 non-null  object
 5   startOfWeekPurchased  31118 non-null  object
 6   yearMonthPurchased    31118 non-null  object
 7   price                 31118 non-null  float128
 8   totalPrice            31118 non-null  float128
 9   name                  31118 non-null  object
 10  rarity                31118 non-null  object
 11  slotNames             31118 non-null  object
 12  NRG Effect            31118 non-null  object
 13  AGG Effect            31118 non-null  object
 14  SPK Effect            31118 non-null  object
 15  BRN Effect            31118 non-null  object
dtypes: datetime64[ns, UTC](1), float128(2), int64(3), object(10)
memory usage: 4.5+ MB

In [6]:
purchases_types_df.to_csv('db/wearable_purchases_types.csv')